<!DOCTYPE html>
  <%= render '/refinery/html_tag' %>
  <%= render '/refinery/head' %>
  <body>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container" class="container">
      <header id="header">
      </header>
      <div class="bgImagesWrapper">
        <%= image_tag("bgHome3.jpg", :alt => "bgHome3", :class => "bgHome3") %>
        <%= image_tag("bgHome4.jpg", :alt => "bgHome4", :class => "bgHome4") %>
      </div>
        <!-- SITE WRAPPER -->
      <div class="row siteWrapper"> 
        <!-- COLUMN 1 -->
        <div class="col1 three mobile-two columns">
          <%= image_tag("logoMain.png", :alt => "logo goes here", :class=> "logoImg") %>
          <div class="colEvents columns">
            <div class="eventsHeader">
              <h1 class="eventsHeaderText">
                <a href="">Upcoming Events</a>
              </h1>
            </div>
            <div class="eventsBox">
              <%#= render '/refinery/content_page' %>
              <% @items = Refinery::News::Item.latest(10) %>
              <%= render :partial => '/refinery/news/items/recent_posts' %>
            </div>
          </div>
        </div> <!-- END COLUMN 1 LOGO STUFF -->

        <!-- COLUMN TWO -->
        <div class="col2 two columns mobile-two">
          <ul class="navbar">
            <li class="active navHome">

              <h1 id="fittext1" class="navText">
                <a href="/" class="clickHome"><span class="headerCaps">H</span>OME</a>
              </h1>
            </li>

            <li class="navMix">
              <%#= image_tag("iconMix2.png", :alt => "", :class => "iconMix") %>
              <h1 id="fittext2" class="navText">
                <a href="/blog/categories/mix" class="clickMix"><span class="headerCaps">M</span>ixes</a></h1>
            </li>
            <li class="navPhotoVideo">
              <h1 id="fittext3" class="navText">
                <a href="/blog/categories/photo" class="clickPhoto"><span class="headerCaps">P</span>hoto</a>
              </h1> 

              <h1 id="fittext4" class="navText">
                <a href="/blog/categories/video" class="clickPhoto"><span class="headerCaps">V</span>ideo</a>
              </h1> 
            </li>
            <li class="navBooking">
              <h1 id="fittext5" class="navText">
                <!-- <a href="/private-events" class=""><span class="headerCaps">P</span>rivate<br /><span class="headerCaps">E</span>vents</a></h1> -->
                <a href="/private-events" class=""><span class="headerCaps">B</span>ooking<br /></a></h1>
            </li>
            <li class="navRadio">
              <h1 id="fittext6" class="navText">
                <a href="#"><span class="headerCaps">R</span>ADIO</a>
                <!-- %= link_to "RADIO", radio_path % -->
              </h1>
            </li>
            <li class="navDates">
              <h1 id="fittext7" class="navText">
                <a href="" class="datesClick"><span class="headerCaps">D</span>ATES</a>
                <!-- %= link_to "RADIO", radio_path % -->
              </h1>
            </li>
          </ul>
        </div>

        <!-- close FIRST row -->
        <!-- BLOG ROW (IF FIXED POSITION) -->

        <div class="row siteWrapper">
          <div class="five columns">
          </div>
          <section id="page">
            <div class="seven mobile-four columns column3 blogWrapper">
              <!-- <div class="siteHeader eleven columns">
                <div class="headerBlocker">
                </div>
                <p class="siteHeaderText">
                  The home of all things
                </p>
                <div class="">
                  <%= image_tag("logoSmall.png", :alt => "logoSmall", :class => "logoSmall") %>
                </div>
                <div class="socialWrapper">
                  <a class="twitter">
                    <i class="foundicon-twitter"></i>
                  </a> 
                  <a class="facebook">
                      <i class="foundicon-facebook"></i>
                  </a>
                  <a class="instagram">
                    <i class="foundicon-instagram"></i>
                  </a> 
                </div>
              </div> -->
              <div class="siteHeader eleven mobile four columns">
                <div class="likeButton">
                  <div id="fb-root"></div>
                    <script>
                      (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=437884649637672";
                        fjs.parentNode.insertBefore(js, fjs);
                      }(document, 'script', 'facebook-jssdk'));
                    </script>
                      <div class="fb-like" data-href="https://www.facebook.com/DJPortaRock" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-colorscheme="dark"></div>
                </div>
                <div class="likeToDownload">
                  <p><a href="">Like for free downloads!</a></p>
                </div>
                <div class="socialWrapper">
                  <a href="http://twitter.com/PortaRock" target="_blank" class="twitter">
                    <i class="foundicon-twitter"></i>
                  </a> 
                  <a href="https://apps.facebook.com/portadev" target="_blank" class="facebook">
                    <i class="foundicon-facebook"></i>
                  </a>
                  <a href="http://instagram.com/djportarock" target="blank" class="instagram">
                    <i class="foundicon-instagram"></i>
                  </a> 
                </div>
                <div class="">
                  <%= image_tag("logoSmall.png", :alt => "logoSmall", :class => "logoSmall") %>
                </div>
                <p class="siteHeaderText">
                  The home of DJ
                </p>
              </div>
              <div classs="mobile-four columns">
                <%= render '/refinery/content_page' %>
              </div>
            </div>
          </section>  
        </div>
        <footer>
          <%#= render '/refinery/footer' %>
        </footer>
        <%= render '/refinery/javascripts' %>
      </div>
    </body>
  </html>



