<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" type="image/gif" href="animated_favicon1.gif">  
  <%= stylesheet_link_tag  "application" %>
  <%#= stylesheet_link_tag "foundation" %>
  <%#= stylesheet_link_tag    "mobile" if mobile_device? %>
  <%= javascript_include_tag  "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- script src="http://connect.soundcloud.com/sdk.js" ></script -->
  <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
  <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>



</head>

<body>
<div class="wrapper">
  <div class="row display">
    <!-- Column 1 -->
    <div class="col1 blueHot">
      <div class="logoMain">
        <%= image_tag("logoMain.png", :alt => "logo not here?") %>
      </div>
    </div>
    <!-- Column 2 -->
    <div class="col2 redHot">
      <ul class="navbar">
        <li class="active">
          <h1 id="fittext1" class="navText">
            <!-- <a href="#">HOME</a> -->

          </h1>
        </li>
        <li>
          <h1 id="fittext2" class="navText"><a href="#">Mixes</a></h1>
        </li>
        <li>
          <h1 id="fittext3" class="navText"><a href="#">Photo &amp; Video</a></h1>
        </li>
        <li>
          <h1 id="fittext4" class="navText"><a href="#">Private Events</a></h1>
        </li>
        <li>
          <h1 id="fittext5" class="navText">
            <!-- <a href="#">RADIO</a> -->
            
            <!-- %= link_to "RADIO", radio_path % -->
          </h1>
        </li>
      </ul>
    </div>
    
    <!-- Column 3 Home/Blog showing all entries -->
<div class="col3">
  <div class="homeWrapper">

    <div class="bgHome">
      <%= image_tag("bgHome.jpg", :alt => "bgHome") %>
    </div>
    <div id="ticker">
      
    </div>
    <div class="blogWrapper">
      <%= yield %> <!-- Column 3 -->
    </div>
  </div>
</div>

<footer></footer>

<!-- Scripts! -->

</body>
</html>


<script>
  $("#fittext1").fitText(.8);
  $("#fittext2").fitText(.8);
  $("#fittext3").fitText(.8);
  $("#fittext4").fitText(.8);
  $("#fittext5").fitText(.8);

// (function() {
//   SC.initialize({
//     client_id: '6dad2a3b64a95f8b991f4c18ac5a8c3b',
//     redirect_uri: 'http://soundcloud.com/portarock/'
//     });
//   });

//   // update user's profile description
//   SC.connect(function() {
//      SC.put('/me', {
//        user: { description: 'I am using the SoundCloud API!' }
//      }
//   )});



</script>

