<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <%= render '/refinery/head' %>
  <body>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container" class="container">

      <header id="header">
      </header>
      
       <!-- COLUMN 1 -->
        <div class="row">
          <div class="col1 three mobile-two columns">
            <%= image_tag("logoMain.png", :alt => "logo not here?") %>
          </div>
          
          <!-- COLUMN TWO -->
  
          <div class="col2 two columns mobile-one redHot">
            <ul class="navbar">
              <li class="active">
                <h1 id="fittext1" class="navText">
                  <a href="#">HOME</a>
                </h1>
              </li>
              <li>
                <h1 id="fittext2" class="navText"><a href="#">Mixes</a></h1>
              </li>
              <li>
                <h1 id="fittext3" class="navText"><a href="#">Photo<br />/Video</a></h1>
              </li>
              <li>
                <h1 id="fittext4" class="navText"><a href="#">Private Events</a></h1>
              </li>
              <li>
                <h1 id="fittext5" class="navText">
                  <a href="#">RADIO</a>
                  <!-- %= link_to "RADIO", radio_path % -->
                </h1>
              </li>
              <li>
                <h1 id="fittext6" class="navText">
                  <a href="#">CONTACT</a>
                </h1>
              </li>
            </ul>
          </div>
  
          <!-- COLUMN 3 -->
          
          <section id="page">
          <div class="homeWrapper">
            <%#= image_tag("bgHome.jpg", :alt => "bgHome", :class => "bgHome") %>
            <%= image_tag("bgHome2.jpg", :alt => "bgHome2", :class => "bgHome2") %>
          </div>
          <div class="mixesWrapper">
            
          </div>
            <div class="col3 seven mobile-four colums">
              <%= yield %>
            </div>
          </section>  
        </div>
    </div> <!-- close big-ass row -->
      <footer>
        <%= render '/refinery/footer' -%>
      </footer>


    <%= render '/refinery/javascripts' %>
  </div>
  </body>
</html>

<script>
  $("#fittext1").fitText(.45);
  $("#fittext2").fitText(.45);
  $("#fittext3").fitText(.45);
  $("#fittext4").fitText(.45);
  $("#fittext5").fitText(.45);
  $("#fittext6").fitText(.45);
// (function() {
// SC.initialize({
// client_id: '6dad2a3b64a95f8b991f4c18ac5a8c3b',
// redirect_uri: 'http://soundcloud.com/portarock/'
// });
// });

// // update user's profile description
// SC.connect(function() {
// SC.put('/me', {
// user: { description: 'I am using the SoundCloud API!' }
// }
// )});



</script>


