<!DOCTYPE html>
  <%= render '/refinery/html_tag' %>
  <%= render '/refinery/head' %>
  <body>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container" class="container">
      <header id="header">
      </header>
      <%= image_tag("bgHome3.jpg", :alt => "bgHome3", :class => "bgHome3") %>
        <!-- SITE WRAPPER -->
      <div class="row siteWrapper"> 
        <!-- COLUMN 1 -->
        <div class="col1 three mobile-two columns">
          <%= image_tag("logoMain.png", :alt => "logo goes here", :class=> "logoImg") %>
          <div class="colEvents">
            <div class="eventsHeader">
              <h1 class="eventsHeaderText">
                <a href="">Upcoming Events</a>
              </h1>
            </div>
            <div class="eventsBox">
              <%#= render '/refinery/content_page' %>
              <% @items = Refinery::News::Item.latest(10) %>
              <%= render :partial => '/refinery/news/items/recent_posts' %>
            </div>
          </div>
        </div> <!-- END COLUMN 1 LOGO STUFF -->

        <!-- COLUMN TWO -->
        <div class="col2 two columns mobile-two">
          <ul class="navbar">
            <li class="active">
              <h1 id="fittext1" class="navText">
                <a href="/" class="clickHome"><span class="headerCaps">H</span>OME</a>
              </h1>
            </li>
            <li>
              <h1 id="fittext2" class="navText">
                <!-- <a href="/blog/tagged/3/mix" class="clickMix"> -->
                <a href="/blog/categories/mix" class="clickMix"><span class="headerCaps">M</span>ixes</a></h1>
            </li>
            <li>
              <h1 id="fittext3" class="navText">
                <a href="/blog/categories/photo" class="clickPhoto"><span class="headerCaps">P</span>hoto<br /><span class="headerCaps">V</span>ideo</a></h1>
            </li>
            <li>
              <h1 id="fittext4" class="navText">
                <a href="/private-events" class=""><span class="headerCaps">P</span>rivate<br /><span class="headerCaps">E</span>vents</a></h1>
            </li>
            <li>
              <h1 id="fittext5" class="navText">
                <a href="#"><span class="headerCaps">R</span>ADIO</a>
                <!-- %= link_to "RADIO", radio_path % -->
              </h1>
            </li>
            <li class="dates">
              <h1 id="fittext6" class="navText">
                <a href="" class="datesClick"><span class="headerCaps">D</span>ATES</a>
                <!-- %= link_to "RADIO", radio_path % -->
              </h1>
            </li>
          </ul>
        </div>
        <!-- close FIRST row -->
        <!-- BLOG ROW (IF FIXED POSITION) -->
        <div class="row siteWrapper">
          <div class="five columns">
          </div>
          <section id="page">
            <div class="seven columns column3 blogWrapper">
              <div classs="mobile-four columns">
                <%= render '/refinery/content_page' %>
              </div>
            </div>
          </section>  
        </div>
        <footer>

          <%#= render '/refinery/footer' %>
        </footer>
        <%= render '/refinery/javascripts' %>
      </div>
    </body>
  </html>

<script type="text/javascript">
  $("#fittext1").fitText(.71, { minFontSize: '17px', maxFontSize: '35px' });
  $("#fittext2").fitText(.71, { minFontSize: '17px', maxFontSize: '35px' });
  $("#fittext3").fitText(1.05, { minFontSize: '10px', maxFontSize: '35px' });
  $("#fittext4").fitText(1.05, { minFontSize: '10px', maxFontSize: '35px' });
  $("#fittext5").fitText(.71, { minFontSize: '17px', maxFontSize: '35px' });
  $("#fittext6").fitText(.71, { minFontSize: '17px', maxFontSize: '35px' });
</script>

